<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #container{
        background-color:grey;
        width:90%;
        height:400px;
        margin:auto;
        border:2px solid;
        display:flex;
        flex-direction:column;
        }
        h1{
        text-align:center;
        }
        #container div{
        height:200px;
        width:100px;
        }
    </style>
</head>
<body>
<h1>Let's play with Flex</h1>
<section id="container">
    <div style="background-color:red"></div>
    <div style="background-color:green"></div>
    <div style="background-color:yellow"></div>
</section>

</body>
</html>